In [1]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import pandas as pd
from collections import OrderedDict
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

In [3]:
# Get stats for MS Dhoni

In [4]:
url="http://www.espncricinfo.com/india/content/player/34102.html"
html = urllib.request.urlopen(url, context=ctx).read()

In [5]:
temp_data=OrderedDict()
list_of_dict=[]
bs=BeautifulSoup(html, "lxml")
table_body=bs.find_all('tbody')
rows = table_body[1].find_all('tr')
for row in rows:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    temp_data=OrderedDict()
    for i in range(len(cols)):
    	temp_data[" "]=cols[0]
    	temp_data["Mins"]=cols[1]
    	temp_data["BF"]=cols[2]
    	temp_data["4s"]=cols[3]
    	temp_data["6s"]=cols[4]
    	temp_data["SR"]=cols[5]
    	temp_data["POS"]=cols[6]
    	temp_data["Dismissal"]=cols[7]
    	temp_data["Inns"]=cols[8]
    	temp_data["Opposition"]=cols[10]
    	temp_data["Ground"]	=cols[11]
    	temp_data["Date"]=cols[12]
    list_of_dict.append(temp_data)

In [6]:
df=pd.DataFrame(list_of_dict)

In [7]:
df

,Runs,Mins,BF,4s,6s,SR,POS,Dismissal,Inns,Opposition,Ground,Date
0,Tests,27,10,334,202,2,1/26,1/35,101.00,167.0,0,0
1,ODIs,218,38,593,515,8,2/27,2/27,64.37,74.1,0,0
2,T20Is,98,9,68,113,1,1/22,1/22,113.00,68.0,0,0
3,First-class,87,64,2104,1132,24,4/41,5/85,47.16,87.6,1,0
4,List A,289,70,1367,1162,30,4/28,4/28,38.73,45.5,1,0
5,T20s,318,57,628,817,29,4/6,4/6,28.17,21.6,1,0

In [53]:
temp_data=OrderedDict()
list_of_dict=[]
bs=BeautifulSoup(html, "lxml")
table_body=bs.find_all('tbody')
rows = table_body[0].find_all('tr')
headings = bs.findAll('tr',{"class","head"})


heads = headings[:2]
vatting = heads[0]
bowling = heads [1]

batText = vatting.find_all("th")
bowlText = bowling.find_all("th")
bat = []
for i in batText:
    bat.append(i.text)
    
bowl = []
for i in bowlText:
    bowl.append(i.text)    

# print(bat[1:])   
# print(bowl[1:])

# bat = bat[1:]
# bowl = bowl[1:]
print(len(bat))

for row in rows:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    temp_data=OrderedDict()
    {el:0 for el in bat}
#     print(len(cols))
    print(cols)
    print(bat)
    for col in range(len(cols)):
        temp_data[bat[col]] = cols[col]

    list_of_dict.append(temp_data)

15
['Tests', '27', '47', '7', '1585', '177', '39.62', '2881', '55.01', '3', '10', '151', '32', '25', '0']
['', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100', '50', '4s', '6s', 'Ct', 'St']
['ODIs', '218', '211', '32', '8686', '264', '48.52', '9806', '88.57', '27', '42', '770', '232', '77', '0']
['', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100', '50', '4s', '6s', 'Ct', 'St']
['T20Is', '98', '90', '14', '2443', '118', '32.14', '1789', '136.55', '4', '17', '217', '109', '35', '0']
['', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100', '50', '4s', '6s', 'Ct', 'St']
['First-class', '87', '137', '16', '6562', '309*', '54.23', '', '', '20', '30', '', '', '67', '0']
['', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100', '50', '4s', '6s', 'Ct', 'St']
['List A', '289', '278', '40', '10928', '264', '45.91', '', '', '30', '55', '', '', '101', '0']
['', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100', '50', '4s', '6s', 'Ct', 'St']
['T20s', '318', '305', '46', '8312', '118', '32.09', '6254', '132.90', '6', '56', '735', '343', '126', '0']
['', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100', '50', '4s', '6s', 'Ct', 'St']

In [56]:
df=pd.DataFrame(list_of_dict)
df
df.set_index('', inplace=True)
df

,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,4s,6s,Ct,St
,,,,,,,,,,,,,,
Tests,27,47,7,1585,177,39.62,2881,55.01,3,10,151,32,25,0
ODIs,218,211,32,8686,264,48.52,9806,88.57,27,42,770,232,77,0
T20Is,98,90,14,2443,118,32.14,1789,136.55,4,17,217,109,35,0
First-class,87,137,16,6562,309*,54.23,,,20,30,,,67,0
List A,289,278,40,10928,264,45.91,,,30,55,,,101,0
T20s,318,305,46,8312,118,32.09,6254,132.90,6,56,735,343,126,0

In [8]:
writer = ExcelWriter('ms-dhoni.xlsx')
df.to_excel(writer,'Sheet1',index=False)
writer.save()

In [57]:
import sqlite3

In [75]:
conn = sqlite3.connect('TestsMatches.db')  
c = conn.cursor()

In [76]:
c.execute('''CREATE TABLE TESTS
             ([generated_id] INTEGER PRIMARY KEY,[Mat] integer, [Inns] integer, [NO] integer)''')

OperationalError: table TESTS already exists

In [77]:
query = """INSERT INTO 'TESTS'
                          ('Mat', 'Inns', 'NO') 
                          VALUES (?, ?, ?);"""
tup = [1,2,3]
c.execute(query, tup)
conn.commit()

In [78]:
c.execute("SELECT * FROM TESTS")
 
rows = c.fetchall()
print(rows)

[(1, 1, 2, 3), (2, 1, 2, 3), (3, 1, 2, 3)]

In [73]:
print(type(df.iloc[0]))

<class 'pandas.core.series.Series'>

In [74]:
print(bat)

['', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100', '50', '4s', '6s', 'Ct', 'St']